/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  text-decoration: none;
  color: $white;
  font-size: 1em;
  font-weight: normal;
  padding: .5em 1em;
  border-radius: 2px;
  border: 0;
  min-width: 200px;
  text-align: center;
  cursor: pointer;
  @include transition(background-color 0.14s ease-in-out);

  &:hover, &:focus, &:visited {
    color: $white;
    text-decoration: none;
    outline: none;
  }

  &:active {
    top: 1px; // adds a tiny hop to the click
  }

} // end .button

.accent-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $accent;

  &:hover,
  &:focus {
    background-color: darken($accent, 4%);
  } // end hover

  &:active {
    background-color: darken($accent, 5%);
  } // end active

} // end accent button

.primary-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $primary;

  &:hover,
  &:focus {
    background-color: darken($primary, 4%);
    color: rgba($white, 0.8);
  } // end hover

  &:active {
    background-color: darken($primary, 5%);
  } // end active

} // end primary button

.secondary-btn, .wpcf7-submit {
  @extend %btn; // here we load the btn defaults
  background-color: $secondary;

  &:hover,
  &:focus {
    background-color: darken($secondary, 4%);
    color: rgba($white, 0.8);
  } // end hover

  &:active {
    background-color: darken($secondary, 5%);
  } // end active

} // end secondary button
